@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para garantir suavidade */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a; /* neutral-950 */
  color: #f3f4f6; /* gray-100 */
}